.restaurant-image {
  height: 100px;
  border-radius: 80px;
  margin-right: 10px;
}

.rest-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
.rest-box {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0px 20px 20px 0;
  flex-shrink: 1;
  /* border: #334155 solid 5px; */
  width: 350px;
}

.rest-name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #334155;
  letter-spacing: 0.2px;
}

.rest-insights {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #64748b;
}
.pagination-buttons {
  height: 32px;
  width: 32px;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  color: #334155;
  font-weight: bold;
  border: 1px solid #334155;
  cursor: pointer;
}
.pagination-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

@media (max-width: 991px) {
  .rest-box {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
    flex-shrink: 1;
    /* border: #334155 solid 5px; */
    width: 350px;
  }
  .rest-list {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
