.restaurant-image-details {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  /* border: solid 5px #000; */
  /* margin-right: 10px; */
}

.rest-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.rest-list li {
  display: flex;
  flex-direction: column;
}
.rest-details-box {
  text-decoration: none;
  margin: 20px;
  /* border: #334155 solid 5px; */
  display: flex;
  flex-direction: column;
  width: 300px;
}

.rest-name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #334155;
  letter-spacing: 0.2px;
}

.rest-insights {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #64748b;
  margin: 5px 0 0 0;
}
.pagination-buttons {
  height: 32px;
  width: 32px;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  color: #334155;
  font-weight: bold;
  border: 1px solid #334155;
  cursor: pointer;
}
.pagination-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

@media (max-width: 991px) {
  .rest-box {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
    flex-shrink: 1;
    /* border: #334155 solid 5px; */
    width: 200px;
    margin: 0 20px 20px 0;
  }
  .rest-list {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .restaurant-image-details {
    width: 200px;
    height: 150px;
    border-radius: 8px;
  }
  .rest-details-box {
    text-decoration: none;
    margin: 20px;
    /* border: #334155 solid 5px; */
    display: flex;
    flex-direction: column;
    width: 280px;
  }
}
