.container {
  padding: 120px 40px 40px 40px;
  background: #ffe4c6;
}

.slick-slide img {
  margin: auto;
  width: 1110px;
  height: 320px;
}
.offer-images-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 991px) {
  .container {
    padding: 110px 30px 30px 30px;
  }
  .slick-slide img {
    margin: auto;
    width: 100%;
    height: 100%;
  }
}
