.container {
  padding: 40px;
  background: #ffe4c6;
}

.slick-slide img {
  margin: auto;
  width: 1110px;
  height: 320px;
}

@media (max-width: 991px) {
  .container {
    padding: 30px;
  }
  .slick-slide img {
    margin: auto;
    width: 100%;
    height: 100%;
  }
}
